
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

  /* navegador*/
.navbar {
     height: 60pxpx;
     background-color: #373a3c;

  }
  
.icono-ricomida{
    font-size: 30px;
}
.barrita{
  height: 13px;
}

.hr-xd hr{
  
 border-color: black;      /*!       ARREGLAR ESTO*/
}

.imagen-principal{
  height: 384px !important;
}




  /* Aqui estan las fuentes */

  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  
.cabin-bold {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  @media only screen and (max-width: 767px) {
    .h1-oculto {
      display: none; 
    }
  }

  .titulo{
    height: 201px;
  }